In [1]:
import pandas as pd
from config import *
import os
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
def get_market_year(row): #make a market year row in datas
    year = row['YEAR']
    month = row['MONTH']
    if month >= 9:
        market_year = f"{year}/{year + 1}"
    else:
        market_year = f"{year - 1}/{year}"
    return market_year

In [3]:
departements = { #set a dict of departement name as keys and dep code as value for missing dep values in datasets
    'Ain': 1,
    'Aisne': 2,
    'Allier': 3,
    'Alpes-de-Haute-Provence': 4,
    'Hautes-Alpes': 5,
    'Alpes-Maritimes': 6,
    'Ardèche': 7,
    'Ardennes': 8,
    'Ariège': 9,
    'Aube': 10,
    'Aude': 11,
    'Aveyron': 12,
    'Bouches-du-Rhône': 13,
    'Calvados': 14,
    'Cantal': 15,
    'Charente': 16,
    'Charente-Maritime': 17,
    'Cher': 18,
    'Corrèze': 19,
    'Corse': 20,
    "Côte-d'Or": 21,
    "Côtes-d'Armor": 22,
    'Creuse': 23,
    'Dordogne': 24,
    'Doubs': 25,
    'Drôme': 26,
    'Eure': 27,
    'Eure-et-Loir': 28,
    'Finistère': 29,
    'Gard': 30,
    'Haute-Garonne': 31,
    'Gers': 32,
    'Gironde': 33,
    'Hérault': 34,
    'Ille-et-Vilaine': 35,
    'Indre': 36,
    'Indre-et-Loire': 37,
    'Isère': 38,
    'Jura': 39,
    'Landes': 40,
    'Loir-et-Cher': 41,
    'Loire': 42,
    'Haute-Loire': 43,
    'Loire-Atlantique': 44,
    'Loiret': 45,
    'Lot': 46,
    'Lot-et-Garonne': 47,
    'Lozère': 48,
    'Maine-et-Loire': 49,
    'Manche': 50,
    'Marne': 51,
    'Haute-Marne': 52,
    'Mayenne': 53,
    'Meurthe-et-Moselle': 54,
    'Meuse': 55,
    'Morbihan': 56,
    'Moselle': 57,
    'Nièvre': 58,
    'Nord': 59,
    'Oise': 60,
    'Orne': 61,
    'Pas-de-Calais': 62,
    'Puy-de-Dôme': 63,
    'Pyrénées-Atlantiques': 64,
    'Hautes-Pyrénées': 65,
    'Pyrénées-Orientales': 66,
    'Bas-Rhin': 67,
    'Haut-Rhin': 68,
    'Rhône': 69,
    'Haute-Saône': 70,
    'Saône-et-Loire': 71,
    'Sarthe': 72,
    'Savoie': 73,
    'Haute-Savoie': 74,
    'Paris': 75,
    'Seine-Maritime': 76,
    'Seine-et-Marne': 77,
    'Yvelines': 78,
    'Deux-Sèvres': 79,
    'Somme': 80,
    'Tarn': 81,
    'Tarn-et-Garonne': 82,
    'Var': 83,
    'Vaucluse': 84,
    'Vendée': 85,
    'Vienne': 86,
    'Haute-Vienne': 87,
    'Vosges': 88,
    'Yonne': 89,
    'Territoire de Belfort': 90,
    'Essonne': 91,
    'Hauts-de-Seine': 92,
    'Seine-Saint-Denis': 93,
    'Val-de-Marne': 94,
    "Val-d'Oise": 95
}

Note : We will pivot data with month number in column name. Datas starts from 1 (Jan) to 12 (Dec), but it is understood and applicated that months from 9 to 12 are harvest year - 1 and months from 1 to 8 are harvest year.

-> Market Year for EU wheat is September to Aug (for 2020 harvest, we plant in september 2019 and harvest july/aug 2020)

Weather data

In [4]:
weather_raw = pd.read_csv(f"{WEATHER_DATA_URL}/rr_tn_tx_tm-1950-2023.csv").drop(["Unnamed: 0"], axis=1) #read raw weather data
weather_raw_2024 = pd.read_csv(f"{WEATHER_DATA_URL}/rr_tn_tx_tm-current.csv").drop(["Unnamed: 0"], axis=1) #read raw weather data

weather_raw['YEAR-MONTH'] = pd.to_datetime(weather_raw["YEAR-MONTH"]).dt.to_period('M')
weather_raw["YEAR"] = weather_raw["YEAR-MONTH"].dt.year
weather_raw["MONTH"] = weather_raw["YEAR-MONTH"].dt.month
weather_raw["MY"] = weather_raw.apply(get_market_year, axis=1) #add year, month and market year for merging 

weather_raw_2024 = weather_raw_2024[weather_raw_2024["YEAR-MONTH"] < "2024-09"].reset_index(drop=True)
weather_raw_2024['YEAR-MONTH'] = pd.to_datetime(weather_raw_2024["YEAR-MONTH"]).dt.to_period('M')
weather_raw_2024["YEAR"] = weather_raw_2024["YEAR-MONTH"].dt.year
weather_raw_2024["MONTH"] = weather_raw_2024["YEAR-MONTH"].dt.month
weather_raw_2024["MY"] = weather_raw_2024.apply(get_market_year, axis=1) #add year, month and market year for merging 

weather = pd.concat([weather_raw, weather_raw_2024])
weather = weather[weather["MY"] <= "2023/2024"] #-> final weather data
weather = weather[["DEP", "YEAR-MONTH", "RR", "TN", "TX", "TM", "YEAR", "MONTH", "MY"]]

In [5]:
weather_pivot = weather.pivot_table( # Pivot table for month datas as columns and not rows
    index=['DEP', 'MY'],
    columns='MONTH',
    values=['RR', 'TN', 'TX', 'TM']#, 'vpd_min', 'vpd_mean', 'vpd_max']
)

weather_pivot.columns = [ # rename columns with month number
    f"{col[0]}{col[1]}" if isinstance(col, tuple) and col[1] != "" 
    else col for col in weather_pivot.columns
]
weather_pivot = weather_pivot.reset_index()

Yields data

1st dataset (1900 - 2018)

In [6]:
yields_raw = pd.read_csv(f"{YIELDS_DATA_URL}/2021-001_Schauberger-et-al_Data_FILTERED/wheat_total_data_1900-2018_FILTERED.txt", sep=';')

#aggregate Corse du sud and Haute Corse into one Corse department :
corseSud = yields_raw[yields_raw['department'] == "Corse-du-sud"].fillna(0)
corseHaute = yields_raw[yields_raw['department'] == "Haute-Corse"].fillna(0)
corseArea = corseSud["area"].reset_index(drop=True) + corseHaute["area"].reset_index(drop=True)
corseProd = corseSud["production"].reset_index(drop=True) + corseHaute["production"].reset_index(drop=True)
corseYield = (corseSud["production"].reset_index(drop=True) + corseHaute["production"].reset_index(drop=True)) / (corseSud["area"].reset_index(drop=True) + corseHaute["area"].reset_index(drop=True))
corseYears = pd.Series(range(1900, 2019))
corse = pd.DataFrame({"department": "Corse", "year": corseYears, "yield": corseYield, "area": corseArea, "production": corseProd})
yields_raw = pd.concat([yields_raw, corse])
yields_raw = yields_raw[(yields_raw['department'] != "Corse-du-sud") & (yields_raw['department'] != "Haute-Corse")]

yields_raw['DEP'] = yields_raw['department'].map(departements).replace('NA', np.nan) #map dep name to dep code
yields_raw = yields_raw.drop("department", axis=1)
yields_raw["MY"] = (yields_raw['year'] - 1).astype(str) + '/' + yields_raw['year'].astype(str) 
oldYields = yields_raw.copy()

2nd dataset (2000 - 2024)

In [7]:
yields_raw = pd.read_csv(f"{YIELDS_DATA_URL}/SCR-GRC-hist_dep_surface_prod_cult_cer-A25.csv", encoding='utf-8')
yields_raw["ESPECES"] = yields_raw["ESPECES"].str.strip() #remove left and white spaces
yields_raw = yields_raw[yields_raw["ESPECES"] == "Blé tendre"].reset_index(drop=True) #filter soft wheat

#Corse
corseSud = yields_raw[yields_raw["DEP"] == "2A"]
corseSud = pd.concat([pd.DataFrame({'ANNEE': list(range(2000, 2016))}), corseSud], ignore_index=True).fillna(0)
corseHaute = yields_raw[yields_raw['DEP'] == "2B"].fillna(0)
corseArea = corseSud["CULT_SURF"].reset_index(drop=True) + corseHaute["CULT_SURF"].reset_index(drop=True)
corseProd = corseSud["CULT_PROD"].reset_index(drop=True) + corseHaute["CULT_PROD"].reset_index(drop=True)
corseYield = (corseSud["CULT_PROD"].reset_index(drop=True) + corseHaute["CULT_PROD"].reset_index(drop=True)) / (corseSud["CULT_SURF"].reset_index(drop=True) + corseHaute["CULT_SURF"].reset_index(drop=True))
corseYears = pd.Series(range(2000, 2026))
corse = pd.DataFrame({"DEPARTEMENT": "Corse", "DEP": 20, "ANNEE": corseYears, "CULT_REND": corseYield, "CULT_SURF": corseArea, "CULT_PROD": corseProd})
yields_raw = pd.concat([yields_raw, corse])
yields_raw = yields_raw[(yields_raw['DEP'] != "2A") & (yields_raw['DEP'] != "2B")]

yields_raw["DEP"] = yields_raw["DEP"].astype(int)
yields = yields_raw[["ANNEE", "DEP", "CULT_SURF", "CULT_REND", "CULT_PROD"]] #keep only wanted data
yields["MY"] = (yields['ANNEE'] - 1).astype(str) + '/' + yields['ANNEE'].astype(str) 
yields = yields.rename(columns={"ANNEE": "year", "CULT_SURF": "area", "CULT_REND": "yield", "CULT_PROD": "production"})
yields['yield'] = yields['yield'] / 10 #convert to kg/ha
newYields = yields[yields["year"] <= 2024] #-> final yield data

C:\Users\alexl\AppData\Local\Temp\ipykernel_10948\1724735824.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yields["MY"] = (yields['ANNEE'] - 1).astype(str) + '/' + yields['ANNEE'].astype(str)

Concat both yields datasets

In [8]:
newYields = newYields[newYields['year'] >= 2019]
yields = pd.concat([oldYields, newYields])
yields = yields.dropna().reset_index(drop=True)
yields

       year    yield     area  production  DEP         MY
0      1900  1.44401  95230.0    137513.0    1  1899/1900
1      1901  1.02637  92300.0     94734.0    1  1900/1901
2      1902  0.99449  93150.0     92636.4    1  1901/1902
3      1903  1.20303  92714.0    111537.7    1  1902/1903
4      1904  0.98300  89094.0     87579.4    1  1903/1904
...     ...      ...      ...         ...  ...        ...
10835  2020  0.35000     72.0       252.0   20  2019/2020
10836  2021  0.65000     99.0       643.5   20  2020/2021
10837  2022  0.65000     83.0       539.5   20  2021/2022
10838  2023  0.40000     63.0       252.0   20  2022/2023
10839  2024  0.40000     63.0       252.0   20  2023/2024

[10840 rows x 6 columns]

Vapor pressure deficit data

In [9]:
vpd_raw = pd.DataFrame(columns=["dep", "date", "vpd_max", "vpd_min", "vpd_mean"])
for vpd_file in os.listdir(f"{VPD_DATA_URL}/dailyDepDatas/"): #loop throught files
    vpd_dep = pd.read_json(f"{VPD_DATA_URL}/dailyDepDatas/{vpd_file}") #read json
    vpd_raw = pd.concat([vpd_raw, vpd_dep]) #concat data
vpd_raw['DEP'] = vpd_raw['dep'].map(departements) #map dep name to dep code
vpd_raw["YEAR-MONTH"] = pd.to_datetime(vpd_raw["date"]).dt.to_period('M') #new column with YYYY-MM format
vpdMeanGroupedDepMonth = vpd_raw[["vpd_max", "vpd_min", "vpd_mean", "YEAR-MONTH", "DEP"]].groupby(["YEAR-MONTH", "DEP"]).mean() #group by year-month and dep then mean the values
vpd = vpdMeanGroupedDepMonth.reset_index() #remove multi indexing 
vpd = vpd.dropna() #removes nan values (when nan value, there is no data for the dep)
vpd["YEAR"] = vpd["YEAR-MONTH"].dt.year
vpd["MONTH"] = vpd["YEAR-MONTH"].dt.month
vpd["MY"] = vpd.apply(get_market_year, axis=1) #add year, month and market year for merging 
vpd = vpd[vpd["MY"] >= "1979/1980"] #-> final vpd data

C:\Users\alexl\AppData\Local\Temp\ipykernel_10948\3789123208.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  vpd_raw = pd.concat([vpd_raw, vpd_dep]) #concat data

In [ ]:
#Historical calculation with weather data
vpd_raw = pd.read_csv(f"{VPD_DATA_URL}/vpd_historical_1950_2024.csv")
vpd_raw["YEAR-MONTH"] = pd.to_datetime(vpd_raw["YEAR-MONTH"]).dt.to_period('M') #new column with YYYY-MM format
vpdMeanGroupedDepMonth = vpd_raw[["vpd_max", "vpd_min", "vpd_mean", "YEAR-MONTH", "DEP"]].groupby(["YEAR-MONTH", "DEP"]).mean() #group by year-month and dep then mean the values
vpd = vpdMeanGroupedDepMonth.reset_index() #remove multi indexing 
vpd = vpd.dropna() #removes nan values (when nan value, there is no data for the dep)
vpd["YEAR"] = vpd["YEAR-MONTH"].dt.year
vpd["MONTH"] = vpd["YEAR-MONTH"].dt.month
vpd["MY"] = vpd.apply(get_market_year, axis=1) #add year, month and market year for merging

In [10]:
vpd_pivot = vpd.pivot_table( # pivot table for month datas as columns and not rows
    index=['DEP', 'MY'],
    columns='MONTH',
    values=['vpd_mean', 'vpd_min', 'vpd_max']
)

vpd_pivot.columns = [ # rename columns with month number
    f"{col[0]}{col[1]}" if isinstance(col, tuple) and col[1] != "" 
    else col for col in vpd_pivot.columns
]
vpd_pivot = vpd_pivot.reset_index()

Enhanced Vegetation Index data

In [12]:
evi = pd.DataFrame(columns=["name", "code", "date", "mean_data"]) 
for evi_file in os.listdir(f"{EVI_DATA_URL}/monthlyDepMean/"): #loop throught files
    evi_dep = pd.read_json(f"{EVI_DATA_URL}/monthlyDepMean/{evi_file}") #read json
    evi = pd.concat([evi, evi_dep]) #concat data
evi["YEAR-MONTH"] = pd.to_datetime(evi["date"]).dt.to_period('M') #set period (already to monthly data but we keep same format for every dataset (Year-Month))
evi = evi.rename(columns={"code": "DEP", "mean_data": "evi"}) #rename for same format
evi = evi[["YEAR-MONTH", "DEP", "evi"]].sort_values(by="YEAR-MONTH") #keep wanted data 
evi["YEAR"] = evi["YEAR-MONTH"].dt.year
evi["MONTH"] = evi["YEAR-MONTH"].dt.month
evi["MY"] = evi.apply(get_market_year, axis=1) #add year, month and market year for merging 
evi = evi[evi["MY"] >= "2000/2001"] #-> final evi data

C:\Users\alexl\AppData\Local\Temp\ipykernel_10948\33089076.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  evi = pd.concat([evi, evi_dep]) #concat data

In [13]:
evi_pivot = evi.pivot_table( # pivot table for month datas as columns and not rows
    index=['DEP', 'MY'],
    columns='MONTH',
    values=['evi']
)

evi_pivot.columns = [ # rename columns with month number
    f"{col[0]}{col[1]}" if isinstance(col, tuple) and col[1] != "" 
    else col for col in evi_pivot.columns
]
evi_pivot = evi_pivot.reset_index()

Soil Organic Matter data (Particulate organic matter (POM) and Mineral-associated organic matter (MAOM))

In [14]:
som_pom = pd.read_json(f"{SOM_DATA_URL}/pom.json") #read json
som_pom['DEP'] = som_pom['nom'].map(departements) #map dep name to dep codevpd['DEP'] = vpd['dep'].map(departements) #map dep name to dep code
som_pom = som_pom.drop("nom", axis=1) #remove unwanted dep name -> final som pom data

In [15]:
maom_pom = pd.read_json(f"{SOM_DATA_URL}/maom.json") #read json
maom_pom['DEP'] = maom_pom['nom'].map(departements) #map dep name to dep codevpd['DEP'] = vpd['dep'].map(departements) #map dep name to dep code
maom_pom = maom_pom.drop("nom", axis=1) #remove unwanted dep name -> final som maom data

In [16]:
awc = pd.read_json(f"{AWC_DATA_URL}/AWC.json") #read json
awc['DEP'] = awc['nom'].map(departements) #map dep name to dep codevpd['DEP'] = vpd['dep'].map(departements) #map dep name to dep code
awc = awc.drop("nom", axis=1) #remove unwanted dep name -> final AWC data

Merging datasets

In [17]:
result = yields.merge(weather_pivot, on=['DEP', 'MY'], how='left')
result = result.merge(vpd_pivot, on=['DEP', 'MY'], how='left')
result = result.merge(evi_pivot, on=['DEP', 'MY'], how='left')

result = result.merge(som_pom, on="DEP", how="left")
result = result.merge(maom_pom, on="DEP", how="left")
result = result.merge(awc, on="DEP", how="left")

In [18]:
result = result.dropna(subset=['yield'])

In [19]:
result #show results

,year,yield,area,production,DEP,MY,RR1,RR2,RR3,RR4,...,evi6,evi7,evi8,evi9,evi10,evi11,evi12,pom,maom,awc
0,1900,1.44401,95230.0,137513.0,1,1899/1900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.789692,26.925089,0.107088
1,1901,1.02637,92300.0,94734.0,1,1900/1901,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.789692,26.925089,0.107088
2,1902,0.99449,93150.0,92636.4,1,1901/1902,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.789692,26.925089,0.107088
3,1903,1.20303,92714.0,111537.7,1,1902/1903,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.789692,26.925089,0.107088
4,1904,0.98300,89094.0,87579.4,1,1903/1904,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.789692,26.925089,0.107088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,2020,0.35000,72.0,252.0,20,2019/2020,41.078667,12.296000,79.732667,86.737500,...,0.435666,0.431090,0.388402,0.355846,0.336295,0.313358,0.300604,15.657990,28.322897,0.109897
10836,2021,0.65000,99.0,643.5,20,2020/2021,151.319746,61.036754,27.215942,52.010145,...,0.405275,0.392680,0.360204,0.371781,0.375880,0.340750,0.330526,15.657990,28.322897,0.109897
10837,2022,0.65000,83.0,539.5,20,2021/2022,24.356000,19.760000,41.380000,83.461529,...,0.403204,0.379189,0.366802,0.343552,0.334657,0.288043,0.291791,15.657990,28.322897,0.109897
10838,2023,0.40000,63.0,252.0,20,2022/2023,117.408167,69.454667,42.152667,40.011333,...,0.417501,0.382688,0.369777,0.350959,0.324504,0.316170,0.319895,15.657990,28.322897,0.109897
10839,2024,0.40000,63.0,252.0,20,2023/2024,51.748000,120.584000,102.872000,41.320000,...,0.402786,0.380648,0.358753,0.355716,0.354408,0.332111,0.312834,15.657990,28.322897,0.109897

In [20]:
result.to_csv("wheat_model_dataset_1900_2024.csv", index=False) #dataset to csv !

In [21]:
result = result.dropna()

In [22]:
result

,year,yield,area,production,DEP,MY,RR1,RR2,RR3,RR4,...,evi6,evi7,evi8,evi9,evi10,evi11,evi12,pom,maom,awc
98,2001,6.000,28008.0,168048.0,1,2000/2001,153.500000,63.480000,323.300000,158.960000,...,0.515095,0.512806,0.534797,0.460214,0.383118,0.325992,0.285845,16.789692,26.925089,0.107088
99,2002,7.300,29017.0,211824.1,1,2001/2002,54.333333,128.380952,65.314286,32.976190,...,0.534625,0.531641,0.523686,0.472222,0.407751,0.361245,0.293995,16.789692,26.925089,0.107088
100,2003,5.300,24021.0,127311.3,1,2002/2003,109.798214,46.157143,30.612500,83.350000,...,0.519706,0.473908,0.410099,0.473569,0.377240,0.317277,0.250687,16.789692,26.925089,0.107088
101,2004,8.000,28533.0,228264.0,1,2003/2004,182.532143,33.382143,77.305556,46.177778,...,0.507940,0.504410,0.489116,0.388856,0.373254,0.326163,0.290279,16.789692,26.925089,0.107088
102,2005,6.800,27039.0,183865.2,1,2004/2005,85.073333,79.252778,43.695000,210.468056,...,0.505527,0.515293,0.469816,0.477985,0.407783,0.348121,0.278920,16.789692,26.925089,0.107088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10823,2020,3.700,470.0,1739.0,83,2019/2020,20.431046,7.064706,36.835294,52.241176,...,0.406425,0.391333,0.370715,0.339483,0.337418,0.313725,0.292640,11.145555,24.534254,0.108494
10828,2019,2.686,2269.0,6095.1,84,2018/2019,18.206818,38.075000,9.708333,77.569697,...,0.368556,0.354819,0.341370,0.350755,0.312670,0.291865,0.281474,7.834106,20.919405,0.102050
10829,2020,3.000,1840.0,5520.0,84,2019/2020,31.925000,13.725000,31.666667,54.909091,...,0.396858,0.366599,0.340039,0.328166,0.319203,0.304590,0.271919,7.834106,20.919405,0.102050
10834,2019,0.400,98.0,392.0,20,2018/2019,52.162500,52.515906,13.396333,69.975500,...,0.399499,0.388429,0.377462,0.375772,0.352461,0.336898,0.322346,15.657990,28.322897,0.109897
10835,2020,0.350,72.0,252.0,20,2019/2020,41.078667,12.296000,79.732667,86.737500,...,0.435666,0.431090,0.388402,0.355846,0.336295,0.313358,0.300604,15.657990,28.322897,0.109897