In [2]:
import pandas as pd
import os
from config import EVI_DATA_URL

In [3]:
evi = pd.DataFrame(columns=["name", "code", "date", "mean_data"]) 
for evi_file in os.listdir(f"{EVI_DATA_URL}/monthlyDepMean/"): #loop throught files
    evi_dep = pd.read_json(f"{EVI_DATA_URL}/monthlyDepMean/{evi_file}") #read json
    evi = pd.concat([evi, evi_dep]) #concat data
evi["YEAR-MONTH"] = pd.to_datetime(evi["date"]).dt.to_period('M') #set period (already to monthly data but we keep same format for every dataset (Year-Month))
evi = evi.rename(columns={"code": "DEP", "mean_data": "evi"}) #rename for same format
evi = evi[["YEAR-MONTH", "DEP", "evi"]].sort_values(by="YEAR-MONTH") #keep wanted data 
evi["YEAR"] = evi["YEAR-MONTH"].dt.year
evi["MONTH"] = evi["YEAR-MONTH"].dt.month

C:\Users\alexl\AppData\Local\Temp\ipykernel_4360\3179314095.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  evi = pd.concat([evi, evi_dep]) #concat data

In [4]:
evi

    YEAR-MONTH DEP       evi  YEAR  MONTH
152    2000-03  19  0.337523  2000      3
152    2000-03  77  0.273748  2000      3
152    2000-03  38  0.192903  2000      3
152    2000-03  45  0.284190  2000      3
152    2000-03   5  0.085865  2000      3
..         ...  ..       ...   ...    ...
196    2025-02  12  0.319074  2025      2
196    2025-02  29  0.429757  2025      2
196    2025-02  64  0.312098  2025      2
196    2025-02  71  0.354931  2025      2
196    2025-02  62  0.282823  2025      2

[28500 rows x 5 columns]