In [1]:
import pandas as pd
import os
from config import EVI_DATA_URL

Historical monthly mean EVI

In [18]:
evi = pd.DataFrame(columns=["name", "code", "date", "mean_data"]) 
for evi_file in os.listdir(f"{EVI_DATA_URL}/monthlyDepMean/"): #loop throught files
    evi_dep = pd.read_json(f"{EVI_DATA_URL}/monthlyDepMean/{evi_file}") #read json
    evi = pd.concat([evi, evi_dep]) #concat data
evi["YEAR-MONTH"] = pd.to_datetime(evi["date"]).dt.to_period('M') #set period (already to monthly data but we keep same format for every dataset (Year-Month))
evi = evi.rename(columns={"code": "DEP", "mean_data": "evi"}) #rename for same format
evi = evi[["YEAR-MONTH", "DEP", "evi"]].sort_values(by="YEAR-MONTH") #keep wanted data 
evi["MONTH"] = evi["YEAR-MONTH"].dt.month

monthlyEvi = evi[["DEP", "evi", "MONTH"]].groupby(["MONTH", "DEP"]).mean().reset_index()

C:\Users\alexl\AppData\Local\Temp\ipykernel_12748\2523346169.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  evi = pd.concat([evi, evi_dep]) #concat data

In [23]:
monthlyEvi

      MONTH  DEP       evi
0         1    1  0.248809
1         1    2  0.235100
2         1    3  0.338494
3         1    4  0.167896
4         1    5  0.092290
...     ...  ...       ...
1135     12   91  0.235538
1136     12   92  0.145847
1137     12   93  0.150636
1138     12   94  0.167259
1139     12   95  0.240615

[1140 rows x 3 columns]

In [21]:
monthlyEvi.to_csv("../../YieldModel/data/forecast/currentYear/evi_mean_historical.csv")

Find current market year EVI

In [25]:
evi = pd.DataFrame(columns=["name", "code", "date", "mean_data"]) 
for evi_file in os.listdir(f"{EVI_DATA_URL}/monthlyDepMean/"): #loop throught files
    evi_dep = pd.read_json(f"{EVI_DATA_URL}/monthlyDepMean/{evi_file}") #read json
    evi = pd.concat([evi, evi_dep]) #concat data
evi["YEAR-MONTH"] = pd.to_datetime(evi["date"]).dt.to_period('M') #set period (already to monthly data but we keep same format for every dataset (Year-Month))
evi = evi.rename(columns={"code": "DEP", "mean_data": "evi"}) #rename for same format
evi = evi[["YEAR-MONTH", "DEP", "evi"]].sort_values(by=["YEAR-MONTH", "DEP"]) #keep wanted data 
evi["MONTH"] = evi["YEAR-MONTH"].dt.month
evi = evi[evi["YEAR-MONTH"] >= "2024-09"][["DEP", "MONTH", "evi"]].reset_index(drop=True)

C:\Users\alexl\AppData\Local\Temp\ipykernel_12748\3566812235.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  evi = pd.concat([evi, evi_dep]) #concat data

In [26]:
evi

    DEP  MONTH       evi
0     1      9  0.468340
1     2      9  0.418794
2     3      9  0.464130
3     4      9  0.342470
4     5      9  0.313995
..   ..    ...       ...
565  91      2  0.232283
566  92      2  0.139222
567  93      2  0.164456
568  94      2  0.188024
569  95      2  0.162212

[570 rows x 3 columns]

In [27]:
evi.to_csv("../../YieldModel/data/forecast/currentYear/evi_mean_current.csv")